<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <remove name="LocalMySqlServer" />
    <add connectionString="Server=127.0.0.1;Database=antidote;User ID=antidote;Password=antidote" name="LocalMySqlServer" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
    <system.webServer>
        <httpErrors errorMode="Detailed" />
        <tracing>
            <traceFailedRequests>
                <add path="*.php">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,Rewrite" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions statusCodes="405" />
                </add>
            </traceFailedRequests>
        </tracing>
        <handlers>
            <remove name="CGI-exe" />
            <add name="CGI-exe" path="*.exe" verb="*" modules="FastCgiModule" scriptProcessor="D:\Software\php-5.6.11-nts-Win32-VC11-x64\php-cgi.exe" resourceType="File" requireAccess="Execute" allowPathInfo="true" />
        </handlers>
    </system.webServer>
</configuration>