.bodyText {margin-left:20px;}
.imgList{margin-left:-40px;}
.pad5 {padding: 10px;}
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

 
 #page {  margin: 0 auto;  }
 #header-wrap {background: #fff url(/images/theme/green_grass.png) center bottom repeat-x; min-width: 400px; clear: both; margin-bottom:-10px}
 #header {background:#63a504 padding: 0 22px; margin: 0; }
 blockquote { font-style:italic; border-left:4px solid #485933; margin:10px 0 10px 0; padding-left:20px; line-height:1.5; color:#485933; }
 .wsite-logo, .wsite-logo a:hover { color: #4a4a4a; }
 #logo, #logo a { font-size: 40px; color: #4a4a4a; margin: 0; font-weight: normal; padding: 0; float: left; font-family: "open sans", arial, helvetica, sans-serif;}
 #header-right a { color: #44848a; }
 #header-right a:hover { color: #73aeb4; }
 #header { width: 100%; height: 120px; }
 #header, #header table { border-collapse: collapse; border-spacing: 0; }
 #header td { vertical-align: middle; text-align: left; }
 #logo { padding: 5px 10px 60px 30px; }
 #header-right { padding: 5px 5px 60px 10px;}
 #header-right table { width: 1px; }
 #header-right table, #header-right .search, #header-right .wsite-search { clear: right; float: right; }
 #header-right td { padding: 0; }
 #header-right .phone-number .wsite-text { color: #000; font-size: 12px; font-weight: normal; font-family: Arial, Helvetica, sans-serif; text-decoration: none; display: block; white-space: nowrap; margin: 5px 0 5px 15px; }
	
 

.wsite-social, .wsite-editor .wsite-social {
    position: relative;
    display: inline-block;
    white-space: nowrap;
}
.wsite-social-item.hidden, .wsite-editor .wsite-social-item.hidden {
    display: none;
}
.wsite-elements .wsite-social-item.first-child, .wsite-editor .weebly-content-area .wsite-social-item.first-child {
    margin-left: 0 !important;
    padding-left: 0 !important;
}
.wsite-elements .wsite-social-item.last-child, .wsite-editor .weebly-content-area .wsite-social-item.last-child {
    margin-right: 0 !important;
    padding-right: 0 !important;
}
.wsite-social-item, .wsite-editor .wsite-social-item {
    display: inline-block;
    vertical-align: top;
    margin: 0 1px;
    width: 24px;
    height: 24px;
    background: url('/images/common/social_icons.png') no-repeat;
}
.wsite-social-facebook, .wsite-editor .wsite-social-facebook {
    background-position: 0 0;
}
.wsite-social-twitter, .wsite-editor .wsite-social-twitter {
    background-position: -24px 0;
}
.wsite-social-linkedin, .wsite-editor .wsite-social-linkedin {
    background-position: -48px 0;
}
.wsite-social-rss, .wsite-editor .wsite-social-rss {
    background-position: -72px 0;
}
.wsite-social-mail, .wsite-editor .wsite-social-mail {
    background-position: -96px 0;
}
.wsite-social-plus, .wsite-editor .wsite-social-plus {
    background-position: -120px 0;
}
.wsite-social-yahoo, .wsite-editor .wsite-social-yahoo {
    background-position: -144px 0;
}
.wsite-social-youtube, .wsite-editor .wsite-social-youtube {
    background-position: -168px 0;
}
.wsite-social-vimeo, .wsite-editor .wsite-social-vimeo {
    background-position: -192px 0;
}
.wsite-social-pinterest, .wsite-editor .wsite-social-pinterest {
    background-position: -216px 0;
}
.wsite-social-flickr, .wsite-editor .wsite-social-flickr {
    background-position: -240px 0;
}

 #topnav {background: #63a504;width:100%; clear: both; height: auto; padding: 0px 0px 0px 0px;; margin: 0 0 0px; overflow: hidden; }
 #topnav ul { list-style: none; float: left; }
 #topnav ul li { list-style: none; float: left; padding: 0 10px 0 0; }
 #topnav a { float: left; display: block; color: #f1eee7; text-decoration: none; font-family: "open sans", arial, helvetica, sans-serif; padding: 6px 12px; font-size: 18px; border: 0; outline: 0; margin: 0; list-style-type: none; text-transform: uppercase; line-height: 1; text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1); }
 #topnav li#active a, #topnav a:hover { color: #f1eee7; background: #638a34; border: 0; }
 #wsite-menus .wsite-menu li a { font-family: Arial, Helvetica, sans-serif; padding: 8px; color: #ffffff; background: #638a34; border: 0; border-bottom: 1px solid #485933; }
 #wsite-menus .wsite-menu li a:hover { color: #ffffff; background: #7ea352; }
 #main-wrap {margin-left:15px;margin-right:15px; background:#fff center top repeat-x; padding: 0px 0 0; min-width: 400px; clear: both; }
 #main { }
 #content { min-height: 400px; padding: 0px 0px; }

 #bannerright { float: right; width: 270px; height: 317px; padding: 0 30px; }
 #bannerright h2 { color: #000; font-size: 30px; padding: 0px; line-height: 28px; }
 #bannerright div.paragraph { color: #000; font-size: 1.1em; padding: 20px 0px; line-height: 140%; }
 #bannerright p { color: #000; font-size: 1.1em; padding: 20px 0px; line-height: 140%; }
 #bannerright .wsite-button { margin: 0px; }
 .splash-page #header { width: 532px; }
 .splash-page #banner { width: 527px; height: 161px; padding: 6px 4px 4px 6px; background: url(theme/banner-splash-bg.png) no-repeat; }
 .splash-page .wsite-header { width: 515px; height: 149px; background: url(theme/banner-splash.jpg) no-repeat; }
 .splash-page #content-container { width: 528px; }
 .splash-page #content { width: 528px; }
 .splash-page #footer { width: 524px; }
 #footer-wrap { background: #fff url(/files/theme/footer-wrap2-green.png) center top repeat-x; min-width: 950px; }
 #footer { padding: 45px 22px 50px; font-size: 12px; color: #9fb289; font-family: Arial, Helvetica, sans-serif; text-align: right; }
 #footer div.paragraph { color: #888; }
 #footer p { color: #888; }
 #footer a { color: #9fb289; }
 #footer a:hover { color: #d7f6ab; }
 #footer h2 { font-size: 20px; padding: .3em 0; line-height: 1.5; color: #ddd; }
 #footer blockquote { font-style:italic; border-left:4px solid #666; margin:10px 0 10px 0; padding-left:20px; line-height:1.5; color:#888; }
 .wsite-footer { margin-bottom: 15px; }
 #footer hr {background:#fff !important;}
 
.Table
  {
      display: table;
  }
  .Title
  {
      display: table-caption;
      text-align: center;
      font-weight: bold;
      font-size: larger;
  }
  .Heading
  {
      display: table-row;
      font-weight: bold;
      text-align: center;
  }
  .Row
  {
      display: table-row;
  }
  .Cell
  {
      display: table-cell;
      padding-bottom: 20px;
      padding-right: 20px;
  }

.white_row{
  background:#FFFFFF;
  background-image: none;
  font-weight:normal;
  text-align:left;
 }
.light_blue_row{
  background:#EfEfeF;
  background-image: none;
  font-weight:normal;
  text-align:left;
 }